.top-header {
	padding: 1.25em 3em 1.25em 2em;
	background: rgba(255, 255, 255, 0.47);
}
.logo{
	float: left;
	width: 48%;
}
.logo a {
	display: block;
	float: left;
}
.logo p {
	color:#D0D0D0;
	font-size:1.35em;
	letter-spacing:2px;
	text-transform:uppercase;
	float: left;
	border-left: 1px solid #D0D0D0;
	padding:4px 0 4px 20px;
	margin:8px 0 0px 20px;
}
.search{
	float:right;
}
/*--start-search--*/
.search {
	position: relative;
	padding: 8px 10px;
	width: 18%;
	float: right;
	border: 1px solid #f0f0f0;
}
.search input[type="text"] {
	outline: none;
	color: #b3b3b3;
	background: none;
	font-size: 16px;
	border: none;
	width: 84.33%;
}
.search input[type="submit"] {
	background: url('assets/img/sprit-1.png');
	border: none;
	cursor: pointer;
	position: absolute;
	outline: none;
	top: 3px;
	right: 7px;
	width: 35px;
	height: 35px;
}
.dropdown-menu{
  background-color: #f8f9fa;
}
.dropdown-item:active{
  background-color: #3a3a3a;
}
.dark .show-time-tab .price-select-btn .custom-select {
    border: 1px solid #4d4d4d;
    color: #9b9b9b;
}
.show-time-tab .price-select-btn .custom-select {
    width: auto !important;
    float: right;
    background: #3a3a3a;
    height: 50px;
    border-radius: 0;
    padding: 0 50px 0 20px;
    cursor: pointer !important;
}

body{
  background-color: black ;
}

.gambar{
    float:left;
    height:250px;
    width:170px;
}

.tulisan{
    /* border-style:solid;
    border-width:2px; */
    padding:10px;
	font-family: 'Roboto Condensed', sans-serif;
		color: white;
}

.coming-soon{
	/* border-style:solid; */
	font-size:22px;
	text-align:center;
	margin-left:5px;
	font-weight: bold;
	width:140px;
	background-color: white !important;
}

.jadwal{
	border-style:solid;
	text-align:center;
	margin-left:5px;
	width:120px;
}

.btn-primary{
	background-color: #a6a6a6;
	/* background-color: #61676d; */
	/* border-color: #61676d; */
}
/* .btn-primary:hover{
	background-color: #61676d;
}
.btn-primary:disabled{
	background-color: #4c5156;
} */
.btn-group{
	border-color: #61676d;
}
.tulisan a{
	color: #ffffff;
}

.content p{
	color: #ffffff;
}
p.review{
	color:#f4f4f4;
	font-size:1em;
	font-weight:400;
	line-height:1.7em;
	margin:0.8em 0;
}
p.review {
	margin: 0.6em 0;
}
i.video1 {
	width:40px;
	height:35px;
	background: url('../images/img-sprite.png') no-repeat -300px -50px;
	display:inline-block;
	vertical-align:middle;
	margin-right:10px;
}
a.video {
  background: #dfb636;
  font-size: 1.25em;
  text-decoration: none;
  padding: 12px 25px 12px 15px;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-bottom: 3px solid #2d2d2d;
  width:75%;
  display:block;
  margin-top:25px;
}
a.video {
	font-size: 1.2em;
	padding: 9px 22px 9px 13px;
	width: 75%;
	margin-top: 15px;
}
a.video:hover {
	background: #000;
    border-bottom: 3px solid #000;
}
img{
	float: left;
}
.review-info {
		width: 69%;
	}
.review-info {
	float:left;
	width:73%;
}
.review {
	margin-top: 4em;
}

h1, h3{
	color: #ffffff;
}

.content{
	background:rgba(255, 255, 255, 0.47);
}

/* .container-form{
	text-align: center;
	margin-left: 25%;
	margin-right: 25%;
} */

.form{
	width: 400px;
	margin: 0 auto;
	/* display: inline-block; */
}

small p{
	color: red !important;
}

.tulisan .btn-primary{
	font-size: 14px;
	height: 60px;
	width: 90px;
}